@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This is the Star Wars Web Application, where you can read more about SW Spaceships and learn new fun facts about the SW Universe.</p>
</div>
